{block content}
<div class="employees-content">
    <div class="redirect-back">
        <a href="{link Employee:index}">
            <img src="{$basePath}/icons/left-arrow.png">
            <span>GO BACK</span> 
        </a>
    </div>
    <div class="employees-form">
        <div class="title">
            <h1>EDIT EMPLOYEE</h1>
        </div>
        {control employeeForm}
    </div>
</div>
{/block}
